<style>
    body {
        font-family: tahoma;
        line-height: 22px;
        font-size: 13px;
        background-color: #e9eaed;
    }
    
    .wp_inner {
        width: 1200px;
        margin: 0px auto;
    }
    
    .float-left {
        float: left;
    }
    
    .float-right {
        float: right;
    }
    
    #header {
        padding: 30px 0px 23px 0px;
    }
    
    #header a {
        color: #fff;
    }
    
    #logo {
        font-size: 20px;
    }
    
    #main-menu {
        list-style: none;
    }
    
    #main-menu li {
        float: left;
    }
    
    #main-menu li a {
        padding: 8px 15px;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    #header {
        background-color: #202d39;
    }
</style>
<div id="header" class="pull-left">
    <div class="wp_inner clearfix">
        <a class="float-left" href="/index" id="logo">LOGO</a>
        <ul id="main-menu" class="float-right ">
            <li><a href="/index">Trang chủ</a></li>
            <li><a href="/AllTransactions" id="allTransClick">All Transaction</a></li>
            <li><a href="/charity">Charity</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Đăng Xuất</a></li>
        </ul>
    </div>
</div>